.main-nav {
    background-color: #424242;
}

.nav-ctt {
    padding: 4px;
}

.nav-ctt a {
    color: #cfcfcf;
    font-size: 19px;
}

.nav-ctt a:hover,
.nav-ctt a:active {
    color: white;
}

.custom-toggler.navbar-toggler { 
    border-color: rgb(255, 255, 255); 
} 

.custom-toggler .navbar-toggler-icon { 
    background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 

.custom-toggler.navbar-toggler:hover {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.nav-id {
    color: white;
    font-weight: bold;
    margin: 4px 10px;
}

.register-btn {
    margin-right: 10px;
}